.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;    
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0;
    padding: 0 3rem;

}

.top {
    background: transparent;
}

.nav__nav-list {
    display: flex;
    align-items: center;

    list-style: none;

    a {
        padding: 1rem 2rem;
        margin: 0 .5rem;
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        border-bottom: $nav-border-hover .2rem solid;
    }
}