.bg--primary {
    background: #28a745;
    color: #fff;
}

.bg--secondary {
    background: #0284d0;
    color: #fff;
}

.bg--dark {
    background: #333;
    color: #fff;
}

.bg--light {
    background: #f4f4f4;
    color: #333;
}