$text-primary: #28a745;
$text-secondary: #0284d0;

$nav-border-hover: #28a745;

$btn-primary-background: #28a745;
$btn-primary-color: #fff;
$btn-secondary-background: #0284d0;
$btn-secondary-color: #fff;