.flex-grid .row {
    display: flex;
    flex-wrap: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: .4rem;
}

.flex-columns .flex-reverse .row {
    flex-direction: row-reverse;
}