.hero {

    * {
        z-index: 10;
    }
    
    background: url('https://raw.githubusercontent.com/Blue-Eyes-FrontEnd-Dragon/EdgeLedger/master/assets/images/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;

    .text {
        font-weight: 300;
        line-height: 1.2;
    }

    .text--sub-text {
        margin: 1rem 0;
        font-size: 2rem;
    }    

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: inherit;
        padding: 0 2rem;

        .text--header {
            font-size: 5.5rem;
        }

        .text--sub-text {
            font-size: 2.3rem;
            max-width: 60rem;
            margin: 2rem 0 3rem;
        }
    }
}

.hero::before {
    content: ""; // ::before and ::after both require content
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    background: rgba(0, 0, 0, .6);
}
