html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333
}

img {
    width: 100%;
}

.text {
    font-size: 1.6rem;
}

.text--primary {
    color: $text-primary;
}

.text--secondary {
    color: $text-secondary;
}

.text--logo {
    font-size: 2.5rem;
    font-weight: 400;
}